DATABRICKS_CONFIG_PROFILE=<your value>
DATABRICKS_EXPERIMENT_NAME=<your value>
AZURE_OPENAI_API_KEY=<your value>
AZURE_TENANT_ID=<your value>
AZURE_CLIENT_ID=<your value>
AZURE_CLIENT_SECRET=<your value>
AZURE_OPENAI_ENDPOINT=<your value>